.background {
    -fx-background-image: url("images/rootBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-radius: 6;
}

.backgroundW {
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-background-radius: 20;
}

.backgroundUser {
    -fx-background-image: url("images/userBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-radius: 10;
    -fx-border-color: #ffffff;
    -fx-border-width: 10;
    border-radius: 20px;
}

.backgroundAdmin {
    -fx-background-image: url("images/adminBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-radius: 10;
    -fx-border-color: #ffffff;
    -fx-border-width: 10;
    border-radius: 20px;
}

.text-field {
    -fx-border-color: #84cdff;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 18;
}

.text-field:focused{
    -fx-border-color: #14a9ff;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-effect: dropshadow( gaussian , rgb(88, 94, 119), 0,0,1,0 );
}

.labelAuth {
    -fx-font-size: 40;
    -fx-font-weight: 600;
    -fx-text-fill: #14a9ff;
    -fx-font-family: "Bookman Old Style";
    -fx-effect: dropshadow( gaussian , rgb(88, 94, 119), 0,0,1,0 );
}

.labelAuthMess {
    -fx-font-size: 14;
    -fx-font-family: "Bookman Old Style";
    -fx-effect: dropshadow( gaussian , rgb(176, 2, 2), 0,0,1,0 );
    -fx-font-weight: bold;
}

.tab-pane {
    -fx-border-radius: 20;
    -fx-background-color: transparent;
}

.backgroundUser {
    -fx-background-image: url("images/userBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-radius: 10;
    -fx-border-color: #ffffff;
    -fx-border-width: 10;
    border-radius: 20px;
}

.button {
    -fx-font-size: 18;
    -fx-font-family: "Bookman Old Style";
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: #6fc7ff;
    -fx-text-fill: #0086d4;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #5ec1ff;
    -fx-font-weight: 700;
    -fx-effect: dropshadow( gaussian , rgb(88, 94, 119), 4,0,0,1 );
}

.buttonReg {
    -fx-background-color: transparent;
    -fx-text-fill: #0086d4;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.buttonReg:hover {
    -fx-background-color: transparent;
    -fx-font-size: 16;
    -fx-text-fill: #00639b;
    -fx-font-weight: bold;
    -fx-effect: none;
}

.labelRegs {
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 18;
}

